<div class="p-8">
  <a [routerLink]="route">
    <div class="border-2 border-gray-200 shadow-xl rounded-2xl overflow-hidden">
      <div
        class="w-100 h-48 bg-center bg-no-repeat bg-cover"
        [style]="'background-image: url(' + image + ');'"
      ></div>
      <div class="m-4">
        <h3 class="font-bold text-lg mb-4 md:text-xl">
          {{ title }}
        </h3>
        <p class="text-justify text-gray-400 mb-4">
          {{ description }}
        </p>
        <a
          class="py-2 px-8 primary-bg rounded-xl text-white inline-block"
          [routerLink]="route"
        >
          Leer más
        </a>
      </div>
    </div>
  </a>
</div>
