<div class="w-screen secondary-color text-white">
    <div class="container mx-auto flex justify-between items-center p-6">
        <section>
            <h1 class="text-2xl font-extrabold">GUSTAVGUEZ</h1>
        </section>
        <section class="hidden md:flex">
            <nav>
                <ul class="flex space-x-4 font-bold items-center">
                    <li><a class="p-4 primary-color rounded-xl" href="#">Inicio</a></li>
                    <li><a class="p-4" href="#">Sobre mí</a></li>
                    <li><a class="p-4" href="#">Escríbeme</a></li>
                  </ul>
            </nav>
        </section>
    </div>
</div>