<div class="w-screen secondary-bg text-white fixed">
    <div class="container mx-auto">
        <div class="flex justify-between items-center p-6">
            <section>
                <h1 class="text-2xl font-extrabold">GUSTAVGUEZ</h1>
            </section>
            <section class="md:hidden">
                <button 
                    (click)="onToggleMenuState()"
                    class="p-3 menu-button primary-bg rounded-xl focus:outline-none">
                    <app-header-menu-icon></app-header-menu-icon>
                </button>
            </section>
            <section class="hidden md:flex">
                <app-nav></app-nav>
            </section>
        </div>
        <div
            [class.open]="menuState" 
            class="hidden p-8 border-t-2 border-gray-100 border-opacity-25 justify-center">
            <app-nav></app-nav>
        </div>
    </div>
</div>