<div class="w-full primary-color">
    <div class="container mx-auto flex flex-col items-center py-20 text-center">
        <picture>
            <source srcset="../../../assets/img/gustavguez.webp" type="image/webp">
            <source srcset="../../../assets/img/gustavguez.png" type="image/png"> 
            <img class="w-60" src="../../../assets/img/gustavguez.webp" alt="Gustavguez">
        </picture>

        <h2 class="font-bold text-4xl text-white pt-16 md:text-5xl">GUSTAVO RODRÍGUEZ</h2>
        <div>
            <span></span>
        </div>
        <p class="font-semibold text-xl text-white pt-5">Full Stack Developer</p>
    </div>
</div>