<div class="w-full bg-white">
  <div class="container mx-auto flex flex-col items-center pt-16 text-center">
    <h2 class="font-bold text-3xl secondary-color pt-16 md:text-4xl">
      SOBRE MÍ
    </h2>
    <app-divider [blacked]="true"></app-divider>

    <div class="secondary-color text-xl text-justify flex flex-col md:flex-row">
      <div class="p-8 max-w-md">
        <p class="pb-4">
          ¡Hola! soy <strong>Full Stack Developer</strong>, me especializo en el
          <strong>Frontend</strong> y desde el 2015 utilizo
          <a rel="noreferrer" href="https://angularjs.org/" target="_blank"
            >AngularJS</a
          >,
          <a rel="noreferrer" href="https://angular.io/" target="_blank"
            >Angular</a
          >. Hace un par de años utilizo también
          <a rel="noreferrer" href="https://es.reactjs.org/" target="_blank"
            >ReactJS</a
          >
        </p>
        <p>
          También tengo conocimientos para realizar APIs REST Full, utilizando
          tecnologías como PHP, NodeJS, MySQL, PostgressSQL o MongoDB.
        </p>
      </div>
      <div class="p-8 max-w-md">
        <p class="pb-4">
          Todos los días aprendo cosas nuevas y busco cada día nuevos desafíos y
          la mejor forma de hacer mi trabajo.
        </p>
        <p>
          Me gusta compartir mi conocimiento y formar a otras personas pudiendo
          ser éste, una de mis posibles metas a futuro.
        </p>
      </div>
    </div>
  </div>
</div>
