@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

.primary-bg {
    background-color: #1abc9c !important;
}
.primary-color {
    color: #1abc9c !important;
}
.secondary-bg {
    background-color: #2c3e50 !important;
}
.secondary-color {
    color: #2c3e50 !important;
}
.tertiary-bg {
    background-color: #1a252f !important;
}
