<div class="flex secondary-bg">
    <div class="container flex justify-around m-auto p-16 text-center text-white flex-col md:flex-row">
        <div class="max-w-sd text-lg">
            <h3 class="font-bold text-xl mb-4 md:text-2xl">UBICACIÓN</h3>
            <p class="mb-1">Montevideo, Uruguay</p>
            <app-footer-uruguay-icon></app-footer-uruguay-icon>
        </div>
        <div class="max-w-sd mt-14 text-lg md:mt-0">
            <h3 class="font-bold text-xl mb-4 md:text-2xl">CONÓCEME</h3>
            <a 
                class="p-2"
                href="https://linkedin.com/in/gustavo-rodríguez-1134b35a" 
                target="_blank"
                rel="noreferrer">
                <app-footer-linkedin-icon></app-footer-linkedin-icon>
            </a>
            <a 
                class="p-2"
                href="https://twitter.com/gustavguez" 
                target="_blank"
                rel="noreferrer">
                <app-footer-twitter-icon></app-footer-twitter-icon>
            </a>
            <a 
                class="p-2"
                href="https://github.com/gustavguez" 
                target="_blank"
                rel="noreferrer">
                <app-footer-github-icon></app-footer-github-icon>
            </a>
        </div>
        <div class="max-w-sd text-lg mt-14 md:mt-0">
            <h3 class="font-bold text-xl mb-4 md:text-2xl">SOBRE MÍ</h3>
            <p>Gustavo Rodríguez</p>
            <p>Full Stack Developer</p>
        </div>
    </div>
</div>